p {
  font-family: fantasy;
  color: purple;
  font-weight: bold;
}
h2 {
  text-align: center;
}
.verde {
  background: rgb(136, 224, 136);
}
.rojo {
  background: rgb(247, 69, 69);
}
button {
  background-color: #ebdcea;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: fantasy;
  border-radius: 5px;
}
button:hover {
  color: rgb(243, 243, 247);
  font-weight: bold;
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.5);
}

#marco-color {
  border: 2px solid rgb(37, 37, 36);
  padding: 10px;
}
.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#numero {
  border: 1px solid grey;
  border-radius: 5px;
  width: 10%;
  text-align: center;
  padding-top: 5px;
}
.contador {
  display: flex;
  justify-content: center;
}
/* cambio de colores del div con los botones elegidos */
.menosUno {
  background: rgb(245, 92, 37);
}
.masUno {
  background: rgb(240, 248, 120);
}
.menosCinco {
  background: rgb(85, 194, 245);
}
.masCinco {
  background: rgb(59, 62, 241);
}
.menosDiez {
  background: rgb(240, 34, 147);
}
.masDiez {
  background: rgb(247, 117, 225);
}

/* ejercicio mail */

.negrita {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.gris {
  color: grey;
}
/* ejercicio progreso */
#progreso {
  text-align: center;
  font-weight: 900;
}
.barra {
  width: 500px;
  height: 40px;
  background-color: rgb(15, 114, 121);
  display: flex;
  justify-items: center;
  margin: 20px;
  border-radius: 100px;
}
.barrita {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
}
.diez {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 10%;
}
.veinte {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 20%;
}
.treinta {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 30%;
}
.cuarenta {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 40%;
}
.cincuenta {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 50%;
}
.sesenta {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 60%;
}
.setenta {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 70%;
}
.ochenta {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 80%;
}
.noventa {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 90%;
}
.cien {
  height: 100%;
  border-radius: 100px;
  background-color: mediumorchid;
  width: 100%;
}
/* ejercicio modo oscuro */
.ocultar {
  display: none;
}
.oscuro-encendido {
  background-color: midnightblue;
  color: white;
}
.boton-modo {
  display: flex;
  justify-content: flex-end;
}
/* ejercicio de scroll de la pantalla */

.scroll-0-50 {
  background-color: rgb(247, 211, 211);
}

.scroll-51-100 {
  background-color: rgb(179, 216, 179);
}

.scroll-101-150 {
  background-color: rgb(226, 226, 247);
}

.scroll-151-200 {
  background-color: rgb(247, 244, 217);
}
body {
  height: 1500px;
}
